body {
    margin: 0;
    padding: 0;
    font-family: 'Open-sans', sans-serif;
    background-color: #efefef;
}

main {
   width: 100%
}

.banner {
    background-color: #43281c;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

table {
   width: 100%;
   border-collapse: collapse;
}

ul {
   list-style: none;
}

.coffeetitle {
    font-family: 'Open-sans', sans-serif;
    font-size: 1.5em;
    color: #fbf2c0;
    padding: 0.5em;
    margin: 0.5em;
}

.coffeelogo {
    position: relative;
    top: 20px;
    left: 15px;
}

.page {
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-areas: 
    "order payment"
    "total total";
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.order {
   grid-area: 'order';
}

.payment {
   grid-area: 'payment';
   margin-right: 20px;
   padding-right: 10px;
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.items {
   font-weight: normal;
   color: #885a2d;
   font-size: 16px;
}

.item {
   border-bottom: 2px solid #DDB892;
   display: grid;
   padding: 15px 0;
   grid-template-columns: 1fr 8fr 1fr;
   grid-template-areas:
      "amount name price"
      "amount options price";
    row-gap: 10px;
}

.butter {
   border: none;
   margin-bottom: 20px;
}

.box {
   background-color: #eee1d5;
   border-radius: 5px;
   box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
   padding: 15px;
   margin-bottom: 20px;
   width: 100%;
}


.item-amount {
   font-weight: normal;
   grid-area: amount;
}

.item-name {
   font-weight: bold;
   grid-area: name;
}

.item-price {
   font-weight: bold;
   grid-area: price;
}

.item-options-list {
   grid-area: options;
   color: #B08968;
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 14px;
}

.item-option {
   padding-bottom: 5px;
}

.namebox {
   background-color: #eee1d5;
   position: relative;
   margin: 10px;
   margin-bottom: 30px;
}

.user_input {
   background-color: rgba(0,0,0,0);
   border: 2px #885a2d solid;
   padding: 8px;
   border-radius: 100px;
   width: 95%;
   text-indent: 18px;
   font-size: 18px;
}

.short_input {
   max-width: 200px;
}

.user_input_label {
   color: #885a2d;
   background-color: #eee1d5;
   font-size: 11px;
   position: absolute;
   left: 25px;
   top: -7px;
   padding: 0 2px;
}

.total {
   grid-area: total;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.total_table {
   max-width: 500px;
   margin-bottom: 30px;
}

td {
   padding: 10px;
   font-size: 17px;
}

.place {
   background-color: #deb993;
   border: none;
   padding: 10px 30px;
   width: 100%;
   border-radius: 100px;
   font-size: 16px;
}

.right {
   text-align: right;
}

.bold {
   font-weight: bold;
}

@media only screen and (max-width: 600px) {
   .page {
      display: block;
   }

   .order {
      margin-bottom: 40px;
      width: 90%
   }
   .payment {
      margin-bottom: 40px;
      width: 90%
   }

   .total {
      width: 90%;
      margin: 10px;
      padding: 10px;
   }
}
