body {
    margin: 0;
    padding: 0;
    font-family: 'Open-sans', sans-serif;
}

header {
    background-color: #43281c;
    display: flex;
    justify-content: center;
    padding: 5px;
}

ul {
   list-style: none;
}

.coffeetitle {
    font-family: 'Open-sans', sans-serif;
    font-size: 1.5em;
    color: #fbf2c0;
    padding: 10px;
    margin: 10px;
}

.coffeelogo {
    position: relative;
    top: 20px;
    left: 15px;
}

.page {
    margin: 30px;
    padding: 15px;
    display: grid;
    grid-template-areas: "order payment";
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.order {
   background-color: #eee1d5;
   grid-area: 'order';
}

.list {
   margin: 20px;
   padding: 10px;
}

.items {
   font-weight: normal;
   color: #885a2d;
   font-size: 16px;
   margin: 10px;
}

.item {
   border-bottom: 2px solid #DDB892;
   display: grid;
   padding: 10px 0;
   grid-template-columns: 1fr 8fr 1fr;
   grid-template-areas:
      "amount name price"
      "amount options price";
    row-gap: 8px;
}

.box {
   background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}


.item-amount {
   font-weight: normal;
   grid-area: amount;
}

.item-name {
   font-weight: bold;
   grid-area: name;
}

.item-price {
   font-weight: bold;
   grid-area: price;
}

.item-options-list {
   grid-area: options;
   color: #B08968;
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 14px;
}
